<tr>
  <td
    align="left"
    style="
      font-size: 0px;
      padding: 10px 25px;
      word-break: break-word;
    "
  >
    <table
      border="0"
      cellpadding="0"
      cellspacing="0"
      role="presentation"
      style="
        border-collapse: collapse;
        border-spacing: 0px;
      "
    >
      <tbody>
        <tr>
          <td style="width: 213px">
            <img
              height="auto"
              src="{{ .Logo }}"
              style="
                border: 0;
                display: block;
                outline: none;
                text-decoration: none;
                height: auto;
                width: 100%;
                font-size: 13px;
              "
              width="213"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>

<tr>
  <td
    align="center"
    style="
      font-size: 0px;
      padding: 10px 25px;
      word-break: break-word;
    "
  >
    <p
      style="
        border-top: solid 1px {{ .BorderColor }};
        font-size: 1px;
        margin: 0px auto;
        width: 100%;
      "
    ></p>

    <!--[if mso | IE
      ]><table
        align="center"
        border="0"
        cellpadding="0"
        cellspacing="0"
        style="
          border-top: solid 1px {{ .BorderColor }};
          font-size: 1px;
          margin: 0px auto;
          width: 528px;
        "
        role="presentation"
        width="528px"
      >
        <tr>
          <td style="height: 0; line-height: 0">
            &nbsp;
          </td>
        </tr>
      </table><!
    [endif]-->
  </td>
</tr>
